<br style="width: 80%; margin: auto;">
    <h1>Thông tin khách hàng</h1>
    <hr>
    <div class="col-md-12 text-right">
        <button id="enable" class="btn btn-danger">Bật/tắt chỉnh sửa</button>
    </div>


    <div class="col-md-12">
        <table id="user" class="table table-bordered table-striped" style="clear: both">
            <tbody>
                <tr>
                    <td width="35%">Tên khách hàng</td>
                    <td width="65%"><a href="#" id="user_name" data-type="text" data-pk="<?php echo $_SESSION['userInfo'][0]->USER_ID; ?>"  data-url="index.php?c=login&a=UserUpdate" class="editable editable-click"><?php echo $_SESSION["userInfo"][0]->USER_NAME; ?></a></td>
                </tr>
                <tr>
                    <td width="35%">Ngày sinh</td>
                    <td width="65%"><a href="#" id="user_birthday" data-type="date" data-pk="<?php echo $_SESSION['userInfo'][0]->USER_ID; ?>"  data-url="index.php?c=login&a=UserUpdate" class="editable editable-click"><?php echo $_SESSION["userInfo"][0]->USER_BIRTHDAY; ?></a></td>
                </tr>
                <tr>
                    <td width="35%">Giới tính</td>
                    <td width="65%"><a href="#" id="user_sex" data-type="select" data-pk="<?php echo $_SESSION['userInfo'][0]->USER_ID; ?>"  data-url="index.php?c=login&a=UserUpdate" class="editable editable-click"><?php echo $_SESSION["userInfo"][0]->USER_SEX; ?></a></td>
                </tr>
                <tr>
                    <td width="35%">Địa chỉ</td>
                    <td width="65%"><a href="#" id="user_address" data-type="textarea" data-pk="<?php echo $_SESSION['userInfo'][0]->USER_ID; ?>"  data-url="index.php?c=login&a=UserUpdate" class="editable editable-click"><?php echo $_SESSION["userInfo"][0]->USER_ADDRESS; ?></a></td>
                </tr>
                <tr>
                    <td width="35%">Số điện thoại</td>
                    <td width="65%"><a href="#" id="user_phone" data-type="text" data-pk="<?php echo $_SESSION['userInfo'][0]->USER_ID; ?>"  data-url="index.php?c=login&a=UserUpdate" class="editable editable-click"><?php echo $_SESSION["userInfo"][0]->USER_PHONE; ?></a></td>
                </tr>
                <tr>
                    <td width="35%">Tuổi</td>
                    <td width="65%"><a href="#" id="user_age" data-type="text" data-pk="<?php echo $_SESSION['userInfo'][0]->USER_ID; ?>"  data-url="index.php?c=login&a=UserUpdate" class="editable editable-click"><?php echo $_SESSION["userInfo"][0]->USER_AGE; ?></a></td>
                </tr>
                <tr>
                    <td width="35%">Email</td>
                    <td width="65%"><a href="#" id="user_email" data-type="text" data-pk="<?php echo $_SESSION['userInfo'][0]->USER_ID; ?>"  data-url="index.php?c=login&a=UserUpdate" class="editable editable-click"><?php echo $_SESSION["userInfo"][0]->USER_EMAIL; ?></a></td>
                </tr>
                <tr>
                    <td width="35%">Password</td>
                    <td width="65%"><a href="#" id="password" data-pk="<?php echo $_SESSION['userInfo'][0]->USER_ID; ?>"  data-url="index.php?c=login&a=UserUpdate" class="editable editable-click"></a></td>
                </tr>

            </tbody>
        </table>
    </div>
<script type="text/javascript" src="public/themes/js/otherUserDetail.js"></script>