
</br>
    <div class="row">
        <div class="col-xs-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Giỏ Hàng Của Tôi</h5>
                            </div>
                            <div class="col-xs-6">
                                <a href="index.php?c=home">
                                <button type="button" class="btn btn-primary btn-sm btn-block">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                    Tiếp Tục Mua Hàng
                                </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <style>.scrollTable{overflow: scroll;  height: 500px;}</style>
                <div class="panel-body scrollTable small">
                    <?php


                        $count = count($listCartBook);
                        for($i= 0; $i < $count ;$i++)
                        {
                            echo '
                                <div class="row">
                                    <div class="col-xs-2"><a href="index.php?c=detail&a=index&id='.$listCartBook[$i]->BOOK_ID.'"><img class="img-responsive" src="public/themes/images/'.$listCartBook[$i]->BOOK_IMAGE.'"></a>
                                    </div>
                                    <div class="col-xs-4">
                                        <h4 class="product-name"><a href="index.php?c=detail&a=index&id='.$listCartBook[$i]->BOOK_ID.'">'.$listCartBook[$i]->BOOK_NAME.'</a></h4>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="col-xs-6 text-right">
                                            <h6 class="bookCost" value="'.intval($listCartBook[$i]->BOOK_COST).'"><strong >'.number_format(intval($listCartBook[$i]->BOOK_COST)).'</strong> <span class="text-muted"> VNĐ x</span></h6>
                                        </div>
                                        <div class="col-xs-4">
                                            <input type="number" class="form-control input-sm quality" value="'.$listBookQuality[$i].'">
                                        </div>
                                        <div class="col-xs-2">
                                            <button type="button" class="btn btn-link btn-xs remove" bookID="'.$listCartBook[$i]->BOOK_ID.'">
                                                <span class="glyphicon glyphicon-trash"> </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                ';

                        }


                    ?>
                    </div>
                <div class="panel-footer small">
                        <div class="row text-center">
                            <div class="col-xs-9">
                                <h3><strong>Tổng tiền : </strong></h3>
                                <h4 class="total"></h4>

                            </div>

                            <div class="col-xs-3">
                                <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">Đặt hàng</button>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"><strong>Phương thức đặt hàng </strong></h4>
                                            </div>
                                            <div class="modal-body">
                                            <?php
                                                if(empty($_SESSION['userInfo']))
                                                {
                                                    echo '<a href="index.php?c=checkout&checkoutType=1"><button type="button" class="btn btn-warning" > Đặt hàng không cần tài khoản</button></a>';
                                                }
                                                else
                                                {
                                                    echo '<a  class="not-active" href="index.php?c=checkout&checkoutType=1"><button type="button" class="btn btn-default" > Đặt hàng không cần tài khoản</br><strong style="color: red">(Chưa đăng xuất)</strong></button></a>';
                                                }
                                            ?>

                                                            <a href="index.php?c=checkout&checkoutType=2"><button type="button" class="btn btn-success" >Đặt hàng bằng tài khoản(User)</button></a>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info" data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




<script>
    $(document).ready(function() {
        //Chạy khi page bắt đầu
        var total = 0;
        var bookCost;
        var quality;
        var BookID;
        var sale = 0;
        $(".quality").each(function(){
            var bookCost = parseInt($(this).parentsUntil('.panel-body').find('.bookCost').attr('value'));
            var quality = $(this).val();
            if(quality == 0)
            {
                quality = $(this).attr('value');
                $(this).val(quality);
            }
            total = total + (quality * bookCost);


        });

        if(total >200000 && total <= 500000)
        {
            sale = total - ((total * 96)/100);
            total = (total * 96)/100;
            $('.total').text(total + " VNĐ (Đã giảm giá 4% - "+sale+"VNĐ)");
        }
        else if(total > 500000)
        {
            sale = total - ((total * 88)/100);
            total = (total * 88)/100;
            $('.total').text(total + " VNĐ (Đã Giảm giá 12% - "+sale+"VNĐ)");
        }
        else
        {
            sale=0;
            $('.total').text(total + " VNĐ");
        }


        $('.remove').click(function() {
            bookCost = parseInt($(this).parentsUntil('.panel-body').find('.bookCost').attr('value'));
            quality = $(this).parentsUntil('.panel-body').find('.quality').val();
            bookID = $(this).attr('bookID');
            $(this).parentsUntil('.panel-body').fadeOut(500,function() { $(this).remove(); });

            total = (total - (bookCost * quality)) + sale;

            if(total >200000 && total <= 500000)
            {

                sale = total - ((total * 96)/100);
                total = (total * 96)/100;
                $('.total').text(total + " VNĐ (Đã giảm giá 4% - "+sale+"VNĐ)");
            }
            else if(total > 500000)
            {
                sale = total - ((total * 88)/100);
                total = (total * 88)/100;
                $('.total').text(total + " VNĐ (Đã Giảm giá 12% - "+sale+"VNĐ)");
            }
            else
            {
                sale=0;
                $('.total').text(total + " VNĐ");
            }

            var bookID = $(this).attr('bookID');

            $.ajax({
                url: 'index.php?c=cart&a=RemoveSessionBookID',
                dataType:'json',
                data: {
                    id: bookID
                },
                type: "POST"
            });

        });

        $( ".quality" ).change(function() {
            total = 0;
            $(".quality").each(function(){
                bookCost = parseInt($(this).parentsUntil('.row').find('.bookCost').attr('value'));
                quality = $(this).val();
                bookID = $(this).parentsUntil('.row').find('.remove').attr('bookID');
                if(quality == 0)
                {
                    quality = $(this).attr('value');
                    $(this).val(quality);
                }
                total = total + (quality * bookCost);

                $.ajax({
                    url: 'index.php?c=cart&a=UpdateSessionBookID',
                    dataType:'json',
                    data: {
                        id: bookID,
                        quality: quality
                    },
                    type: "POST"
                });



            });

            if(total > 200000 && total <= 500000)
            {
                sale = total - ((total * 96)/100);
                total = (total * 96)/100;
                $('.total').text(total + " VNĐ (Đã giảm giá 4% - "+sale+"VNĐ)");
            }
            else if(total > 500000)
            {
                sale = total - ((total * 88)/100);
                total = (total * 88)/100;
                $('.total').text(total + " VNĐ (Đã giảm giá 12% - "+sale+"VNĐ)");
            }
            else
            {
                sale = 0;
                $('.total').text(total + " VNĐ");
            }


        });
    });
</script>
