	</br>
	<div class="container">
		<div class="contact">
			<h2 class=" contact-in">LIÊN HỆ</h2>
			<div class="col-md-6 contact-top">
					<h3>THÔNG TIN</h3>
					
					<iframe 
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4440499984685!2d106.62615035009051!3d10.853791460691548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x7d2838354b344947!2zQ3YgUGjhuqduIE3hu4FtIFFU!5e0!3m2!1svi!2s!4v1465456472481" 
							width="550" height="400" frameborder="0" style="border:0" allowfullscreen>
					</iframe>
				
					<p>
						BooksTore ra đời vào tháng 5/2016, với cách thức kinh doanh Mua hàng online - Giao hàng tận nơi. 
						Bắt đầu với mô hình nhà sách trên mạng - cho phép đọc giả dễ dàng tìm sách & mua sách online - 
						đến nay BooksTore đã có tới hàng trăm sản phẩm từ các thương hiệu uy tín của 6 ngành hàng Sách.
						Không chỉ vậy, mua sắm trực tuyến tại BooksTore giúp quý khách tiết kiệm được thời gian, công sức mà vẫn bảo đảm được các quyền lợi về bảo hành, đổi/trả.
					</p>				
					<ul class="social ">
						<li><span><i > </i> Công viên phần mềm Quang Trung, Tân Chánh Hiệp,Quận 12,Hồ Chí Minh</span></li>
						<li><i class="mes"> </i> +84 91 797 87 00</a></li>
						<li><span><i class="down"></i> example@viendong.edu.vn</span></li>
					</ul>
			</div>
			<div class="col-md-6 contact-top">
				<h3>Bạn có muốn để lại tin nhắn cho chúng tôi không?</h3>
					<div>
						<span>Họ Tên</span>		
						<input type="text" value="" >						
					</div>
					<div>
						<span>Địa chỉ Email </span>		
						<input type="text" value="" >						
					</div>
					<div>
						<span>Chủ Đề</span>		
						<input type="text" value="" >	
					</div>
					<div>
						<span>Tin Nhắn</span>		
						<textarea> </textarea>	
					</div>
					<input type="submit" value="GỬI" >	
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

